@using OrderProcessingSystem.UI.Shared
@inherits LayoutComponentBase

<div class="bg-app">
    <div class="vertical-bar" aria-hidden="true"></div>
    <NavMenu />

    <div class="container mt-4 app-content">
        @Body
    </div>
</div>
